package views

templ Index(count int) {
    <div class="container">
        @Count(count)
        <button 
            id="incButton"
            data-on-click="@ipc('IncHTML')"
            data-indicator-loading
        >
            Increment
        </button>
    </div>
}
