package views

import "strconv"

templ Index(name string, count int) {
    <div class="container">
        <h1>Hello, {name}!</h1>
        <p id="count">{strconv.Itoa(count)}</p>
        <button 
            data-on-click="callWailsMethod('Inc')"
            data-indicator-loading
        >Increment</button>
        
        <div class="loading-indicator" data-class-hidden="!$loading">
            Loading...
        </div>
    </div>
}